loguru
wandb
pre-commit
nltk
matplotlib
markdown2
weasyprint
opentelemetry-api
opentelemetry-sdk
opentelemetry-proto
opentelemetry-semantic-conventions
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
